body {
	background-color: #8891a6;
	display: block;
	font-family: 'cursiv', sans-serif;
	color: #feffff;
}

* {
	margin: auto;
}

.projects img {
	display: block;
	width: 52vw;
	height: 32.5vw;
	padding: 1.5em 0;
}

.projHead {
	width: 50%;
	text-align: left;
	font-size: 1.8em;
}

.description {
	width: 52%;
	text-align: left;
	font-size: 1.1em;
	line-height: 1.6em;
}
